$namespace: 'xmx'; // change the 'mx' to 'xmx'. then <date-picker prefix-class="xmx" />

$default-color: rbg(113, 128, 150);
$primary-color: rgb(213, 63, 140);
$cell-border-radius: 0.2em;

@import '~vue2-datepicker/scss/index.scss';

.#{$namespace}-calendar-content {
  .cell {
    &:hover,
    &.active {
      border-radius: $cell-border-radius;
    }
  }
}