@import './_mixins/toast.scss';
@import './_mixins/forms.scss';

body, html {overflow-x: hidden}
body {
    min-height: 100vh;
    @apply font-body;
    &.modal-open {
      height: 100vh;
      overflow-y: hidden;
    }
}

h1,h2,h3,h4,h5,h6 {
  @apply font-display font-medium;
}
